[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/visincr"]
	path = bundle/visincr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/session"]
	path = bundle/session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/cscope"]
	path = bundle/cscope
	url = https://github.com/brookhong/cscope.vim.git
[submodule "bundle/doxygen-support"]
	path = bundle/doxygen-support
	url = https://github.com/vim-scripts/doxygen-support.vim.git
[submodule "bundle/plantuml-syntax"]
	path = bundle/plantuml-syntax
	url = https://github.com/vim-scripts/plantuml-syntax.git
[submodule "bundle/vim-visual-increment"]
	path = bundle/vim-visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
[submodule "bundle/numbers"]
	path = bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/butane"]
	path = bundle/butane
	url = https://github.com/Soares/butane.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
